<!DOCTYPE html>
<html lang="{{ page.lang }}">
	<head>
		<meta charset="UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="{% if page.desc %}{{ page.desc | strip_html }}{% else %}{{ page.excerpt | strip_html | replace: "[[", " ("  | replace: "]]", ")" | strip_newlines }}{% endif %}">
		<title>{{ page.title }}</title>
		{% include base.html %}
		<!-- Bootstrap Core CSS -->
		<link href="{{base}}/stylesheets/bootstrap.min.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="{{base}}/stylesheets/stylesheet.css" media="screen">
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
        		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    		<![endif]-->{% capture hide %}
		{% assign posts=site.posts | where:"date", page.date %}
		{% for post in posts %}
			{% if post.lang != page.lang %}
				{% assign url = post.url %}
				{% assign lang = post.lang %}
			{% endif %}
		{% endfor %}
		{% endcapture %}{% if url %}
		<link rel="alternate" hreflang="{{ lang }}" href="{{base}}{{ url }}" />{% endif %}
	</head>
	<body class="{{ page.lang }}{% if page.type == 'pages' %} page{% endif %}">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{base}}">KPB</a>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="lang nav navbar-nav navbar-right">{% assign posts=site.posts | where:"name", page.name | sort: 'path' %}{% for post in posts %}
						<li>
							<a href="{{base}}{{ post.url }}" class="{{ post.lang }}" title="{{ site.data.languages[post.lang].name }}">{{ site.data.languages[post.lang].short }}</a>
						</li>{% endfor %}
					</ul>
					<ul class="nav navbar-nav navbar-right">{% for menu in site.data.navigation[page.lang] %}
						<li><a href="{{base}}{{ menu[1].url }}">{{ menu[1].title }}</a></li>{% endfor %}
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
		</nav>
		<div class="container">

			{{ content }}

		</div><!-- /.container -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<p>{{ site.data.copyright[page.lang].owner }} &copy; {{ site.time | date: '%Y' }} {{ site.data.copyright[page.lang].reserved }}</p>
					</div>
				</div>
			</div>
		</footer>
		<!-- jQuery -->
		<script src="js/jquery.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>
